//- <!DOCTYPE html>
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title Document
//-         link(rel="stylesheet", href="/css/styles.css")
//-     body
//-     h1 Home Page
//-     img(src="https://th.bing.com/th/id/OIP.i6eInwUn0QfdKlYoi7eJIAHaE8?w=300&h=200&c=7&o=5&pid=1.7", alt="")
//-     scropt(stc="js main.js")
//-        div Tonny

extends layout/app
block seo 
   title Homepage 

block content  
    h1 Home Page